version: '3.8'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sac_api
    restart: always
    ports:
      - '3333:3333'
    depends_on:
      - postgres
    env_file:
      - .env.development
    environment:
      PGHOST: postgres
      PGPORT: ${PGPORT}
      PGUSER: ${PGUSER}
      PGPASS: ${PGPASS}
      PGDATABASE: ${PGDATABASE}
    networks:
      - api-networks

  postgres:
    image: postgres:latest
    container_name: sac_postgres
    restart: always
    environment:
      - TZ=America/Sao_Paulo
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - '5432:5432'
    expose:
      - 5432
    volumes:
      - database:/var/lib/postgres/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - api-networks
networks:
  api-networks:
    driver: bridge
volumes:
  database:
